.user__post_job-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.data__post_job-section{
    display: flex;
    flex-direction: row;
}

.user__post_job-form h3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.user__post_job-form p {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-left: 10px;

    color: var(--color-text-unactive);
    transition: all ease 500ms
}

.main__post_job-section {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    min-width: 304px;
    flex-basis: 100%;
}
select option{
    font-family: var( --font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.additional__post-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.additional__post-section label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.data__post_job-section label {
    margin-top: 5px;
}

input[type='checkbox'] {
    cursor: pointer;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: 2px;
}

input[type='checkbox']:checked+p {
    color: var(--color-text);
}

.__input__fields {
    max-width: 600px;
    width: 100%;
    height: 68px;
    border-radius: 20px;

    margin: 15px 0px;
    padding: 18px;

    font-family: var( --font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    background: var(--color-blog);
    border: solid 2px var(--color-subtext);
    color: var(--colot-text);
    background-color: var(--color-bg);

    transition: all ease 500ms
}

.__btn {
    max-width: 428px;
    min-width: 304px;
    width: 47.6%;
    height: 68px;
    border-radius: 20px;
    border: 0;
}

.input__btn-post_job {
    background-color: var(--color-brand);
    color: var(--white);
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-top: 5px;
}

.__area_input-fields::placeholder,
.__input__fields::placeholder {
    font-family: var( --font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-text-unactive);
}

/* .__input__fields:hover{
    border-color: var(--color-brand);
} */

.__area_input-fields:focus,
.__input__fields:focus {
    outline: none !important;
    border-color: var(--color-brand);
    background-color: var(--color-blog);
}

.__input__fields:disabled,
.__input__fields:disabled+p {
    border-color: var(--color-bg);
    color: var(--color-text-unactive);
}

.paiment__data-container{
    display: flex;
    flex-direction: row;
    max-width: 600px;
}

.paiment__size-container{
    flex-basis: 100%;
    margin-left: 10px;
}
.paiment__option-container{
    flex-basis: 100%;
}

.paiment__size-container,
.paiment__option-container{
    display: flex;
    flex-direction: column;
}
.__area_input-fields{

    max-width: 600px;
    width: 100%;
    height: 68px;
    border-radius: 20px;

    margin: 15px 0px;
    padding: 22px 18px;

    font-family: var( --font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    background: var(--color-blog);
    border: solid 2px var(--color-subtext);
    color: var(--colot-text);
    background-color: var(--color-bg);

    /* transition: all ease 500ms; */
    outline: none;
    resize: none;
}
.__area_input-fields::-webkit-scrollbar{
    width: 0px;
}




@media screen and (max-width: 960px) {
    .data__post_job-section{
        display: flex;
        flex-direction: column;
    }
    .main__post_job-section {
        margin-right: 0px;
    }
    .__btn {
        max-width: 600px;
        width: 100%;
    }
}