.vacance__data-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    border-bottom: var(--line);
    margin-bottom: var(--vac-line-margin);
    padding-bottom: var(--vac-line-padding);
}

.vacance__data-container div {
    display: flex;
    flex-direction: row;
}

.vacance__title-container {
    justify-content: space-between;
    margin-bottom: var(--vac-like-margin-bott);
}

.vacance__title {

    font-family: var( --font-family);
    font-weight: var(--semibold);
    font-size: var(--vac-tytle-size);
    line-height: var(--vac-tytle-height);
    color: var(--color-text);

    transition: all ease 500ms;
}


.vacance__requests-data,
.vacance__requests-deadline,
.vacance__payment-container p {
    font-family: var( --font-family);
    font-weight: var(--medium);
    font-size: var(--vac-subtytle-size);
    line-height: var(--vac-subtytle-height);
    color: var(--color-text-unactive);

    margin-bottom: var(--vac-body-text-margin-bott);
}

.vacance__submited-phone-number,
.vacance__requests-data,
.vacance__requests-deadline{
    display: flex;
    flex-direction: row;
}

.vacance__requests-data p{
    color: var(--color-text);
    margin-left: 5px;
}
.vacance__requests-deadline p{
    color: var(--color-yelow);
    margin-left: 5px;
}

.vacance__location,
.vacance__subtitle {
    font-family: var( --font-family);
    font-weight: var(--medium);
    font-size: var(--vac-subtytle-size);
    line-height: var(--vac-subtytle-height);
    color: var(--color-text);

    margin-bottom: var(--vac-body-text-margin-bott);
}

/* .vacance__data-container:hover, */
.vacance__data-container:hover>div h2 {
    cursor: pointer;
    color: var(--color-brand);
}

.vacance__location-container img {
    margin-right: 5px;
}

.__vacance_btn-cansle,
.__vacance_btn {
    width: 116px;
    height: 33px;
    margin-left: auto;

    font-family: var( --font-family);
    font-weight: var(--medium);
    font-size: var(--vac-subtytle-size);
    line-height: var(--vac-subtytle-height);
    
    border: 0;
    outline: none !important;
    border-radius: Var(--border-radius-small);
}

.__vacance_btn{
    color: var(--white);
    background: var(--color-brand);
}
.__vacance_btn-cansle{
    color: var(--color-text);
    background: var(--color-yelow);
}

.__vacance_btn-cansle:hover,
.__vacance_btn:hover {
    cursor: pointer;
}

.__vacance_btn-cansle:active{
    outline: none !important;
    background-color: var(--color-yelow-active);
}
.__vacance_btn:active {
    outline: none !important;
    background-color: var(--color-brand-active);
}


.vacance__submited-inform-container{
    display: flex;
    flex-direction: column;
    background: var(--color-yelow);
    padding: 17px 20px;
    border-radius: var(--border-radius);
}

.vacance__submited-inform-container p{
    font-family: var( --font-family);
    font-weight: var(--medium);
    font-size: var(--vac-subtytle-size);
    line-height: var(--vac-subtytle-height);
    color: var(--color-request-text);
}

.vacance__submited-phone-number{
    margin-bottom: 10px;
}

.vacance__submited-phone-number p{
    font-family: var( --font-family);
    font-weight: var(--semibold);
    color: var(--color-text);
    margin-left: 5px;
}