@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

:root {

  --brand-font:'Roboto', sans-serif;
  --font-family: 'Montserrat', sans-serif;
  --brand-color:#26D19E;
  
  --box-shadow: 0px 0px 40px 5px rgba(156, 200, 182, 0.3);
  --color-bg: #EBF3F1;
  --color-footer : #FFFFFF;
  --color-blog: #FFFFFF;
  --color-text: #262626;
  --color-subtext: #B3B3B3;
  --border-radius: 20px;
}