
footer {
    background: var(--color-footer);
    padding: 33px 0px;
}

.footer__logo-links p{
    font-family: var(--brand-font);
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    color: var(--color-brand);
}

.footer__workspace{
    /* border: solid 1px var(--color-subtext); */

    display: flex;
    flex-direction: column;
    max-width: 1270px;
    /* width: 1270px; */
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

.footer__container_data{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap-reverse;
}
.footer__media-container{
    display: flex;
    flex-direction: row;
    align-items:center; 
    flex-wrap: wrap-reverse;
}
.footer__phonenumber-container,
.footer__email-container{
    display: flex;
    flex-direction: row;
}
.footer__phonenumber-logo,
.footer__email-logo{
    margin-right: 5px;
}

.footer__social-link{
    width: 130px;
    height: 34px;
    display: flex;
    justify-content: space-between;
}

.footer__suportdata-container{
    width: 330px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0px 40px;
}
.footer__line{
    width: 100%;
    height: 0px;
    border-bottom: var(--line);
}
.line-center{
    display: none;
    margin: 9px 0px;
}
.line-bottom{
    display: block;
    margin: 33px 0px;
}

@media screen and (max-width: 730px){
    .footer__container_data{
        flex-direction: column-reverse;
        justify-content: center;
        /* align-items:center; */
        /* flex-wrap: wrap-reverse; */
    }
    .footer__media-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center; 
    }
    .footer__suportdata-container{
        margin: 9px 0px 0px 0px;
    }

    footer {
        padding: 18px 0px;
    }
    .line-center{
        display: block;
    }
    .line-bottom{
        display: none;
    }
}